scrap.tsv

script*
.vscode/
*.pyc

artifacts/
lightning_logs/

*yaml
!environment.yaml
!sample_configs/*.yaml

*pth
*gz
*csv
*tsv

# Graphviz files
*gv*

# Training artifacts
trainer_output/
lightning_logs/

*.egg-info
temp/